.head {
  padding: 30px;
  padding-bottom: 50px;
}
.nav-link {
  color: black;
  font-size: 20px;
  cursor: pointer;
  font-family: "Barlow";
}

.nav-link:hover {
  color: gray;
  -webkit-text-stroke: 2px black;
}

h1 {
  margin: 0;
  font-family: "Leckerli One", cursive;
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
}
body {
  background-image: url("https://media.istockphoto.com/photos/old-wall-texture-cement-dirty-gray-with-black-background-abstract-picture-id1197671817?k=20&m=1197671817&s=612x612&w=0&h=JpWaOE6719Uft5VZiqKJy2jVbzMkkgUezSI4hKNEFNY=");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}
