.head {
  padding: 30px;
  padding-bottom: 30px;
}
.nav-link {
  color: #1b9aaa !important;

  font-size: 20px;
  cursor: pointer;
  font-family: "Roboto ", sans-serif;
}


.notactive {
  color: #050505 !important;
  font-size: 20px;
  cursor: pointer;
  font-family: "Roboto ", sans-serif;

} 

.nav-link:hover {
  -webkit-text-stroke: 2px #050505;
}

h1,
h3 {
  margin: 0;
  font-family: "Roboto ", sans-serif;

  text-align: left;
  color: #1b9aaa;
  font-size: 2.7rem;
}

h4 {
  font-family: "Roboto ", sans-serif;
  font-size: 1.9rem;
  color: #1b9aaa;
}

.copyright {
  color: #1b9aaa !important;
  font-size: 0.9rem;
}
label {
  margin: 0;
  font-family: "Leckerli One";

  text-align: left;
  color: #1b9aaa;
  font-size: 1.4rem;
}

.card-tile {
  margin: 0;
  font-family: "Leckerli One", cursive;

  text-align: left;
  color: #1b9aaa;
}

.name {
  color: #050505;
  text-align: center;
}
body {
  /* background-image: url("https://media.istockphoto.com/photos/old-wall-texture-cement-dirty-gray-with-black-background-abstract-picture-id1197671817?k=20&m=1197671817&s=612x612&w=0&h=JpWaOE6719Uft5VZiqKJy2jVbzMkkgUezSI4hKNEFNY=");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Fira Sans", sans-serif; */
  background-color: #f5f1e3;
}

.head-links {
  padding-top: 20px;
}

.card-link {
  border-radius: 7px;
  border: solid 1px #20538d;
  line-height: 40px;
  background: #4479ba;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  height: 32.4px;
  line-height: 50px;
}

.btn-primary {
  border-radius: 7px;
  background: #4479ba;
  color: #fff;
  padding: 8px 12px;
  height: auto;
}
.row {
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h3 {
  line-height: 5rem;
  margin: 0.5rem;
}

.container {
  width: 70%;
}

.form {
  width: 50%;
  margin: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #6cf;
}

@media only screen and (max-width: 900px) {
  .form {
    width: 80%;
  }
}

.my-image {
  width: 200px;
  border-radius: 50%;
  margin-top: -10px;
}

.skills {
  padding-left: 20px;
}

.content {
  min-height: 100vh;
}

footer{
position: static;
  margin-top: auto;
  padding-top: 200px;
}

a:hover {
  text-decoration: none;
  color: #1B9AAA !important;

}


iframe{
  width: 100%;
  height: 500%;
}